<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/core.css">
    <link rel="stylesheet" href="__PUBLIC__/css/icon.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home.css">
    <link rel="icon" type="image/x-icon" href="__PUBLIC__/favicon.ico">
    <link href="__PUBLIC__/iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">